[package]
name = "unhaunter"
version = "0.1.0"
edition = "2021"
default-run = "unhaunter"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bevy = "0.12.0"
bevy_framepace = "0.14.1"
rand = "0.8"
enum-iterator = "1.1.3"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
# xcf = "0.3.0" - does not support new Gimp formats
# Using a fork that was mentioned in a PR.
xcf = { git = "https://github.com/twistedfall/xcf-rs", rev = "276aa4749c8ba3e13f486d1899a5716833236c29" }
image = "0.24.5"
regex = "1.7.1"
tiled = "0.11.2"
clap = "4.4.8"
fastapprox = "0.3.1"
anyhow = "1.0.79"

# Enable only a small amount of optimization in debug mode
[profile.dev]
opt-level = 2

# Enable high optimizations for dependencies (incl. Bevy), but not for our code:
[profile.dev.package."*"]
opt-level = 3


[[bin]]
name = "unhaunter"
path = "src/main.rs"

[[bin]]
name = "xcfloader"
path = "src/xcf_loader.rs"

[[bin]]
name = "materials"
path = "src/materials.rs"

[[bin]]
name = "testmapload"
path = "src/testmapload.rs"
