<!-- Page list single item -->

<section class="list-item">
    {% include "partials/page_info.html" %}
    {% if page.extra.cover.image %}
    <figure >
        <img src="{{ get_url(path=page.extra.cover.image) }}"
            alt="{{ page.extra.cover.alt | default(value='cover') }}" />
    </figure>
    {% endif %}<!---->

    <h2 class="title">{{ page.title }}</h2>

    {% if prefer_summary %}
    <section>
        {% if page.summary %}
        {{ page.summary | safe }}
        {% elif page.description %}
        <p>{{ page.description }}</p>
        {% endif %}
    </section>
    {% else %}
    <div class=""></div>
    {% if page.description %}
    <p>{{ page.description }}</p>
    {% elif page.summary %}
    {{ page.summary | safe }}
    {% endif %}
    </div>
    {% endif %}


    <a class="cover-click" href="{{ page.permalink }}">{{ page.title }}</a>
</section>