<!-- Pages -->
{% if pages is defined %}<!---->
{% elif paginator is defined %}<!---->
{% set pages = paginator.pages %}<!---->
{% elif term is defined %}<!---->
{% set pages = term.pages %}<!---->
{% elif section is defined %}<!---->
{% set pages = section.pages %}<!---->
{% endif %}<!---->

{% for page in pages %} {% include "partials/page_list_item.html" %} {% endfor %}

<!-- Main Nav -->
{% if paginator is defined %}
<nav class="paginator">
    {% if paginator.previous %}
    <a class="active" href="{{ paginator.previous }}">
        <svg
            class="my-icon"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
        >
            <path d="M19 12H5"></path>
            <path d="M12 19l-7-7 7-7"></path>
        </svg>
        <span>Prev Page</span>
    </a>
    {% else %}
    <a class="disabled" aria-disabled="true">
        <svg
            class="my-icon"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
        >
            <path d="M19 12H5"></path>
            <path d="M12 19l-7-7 7-7"></path>
        </svg>
        <span>Prev Page</span>
    </a>
    {% endif %}<!---->
    {% if paginator.next %}
    <a class="active" href="{{ paginator.next }}">
        <span>Next Page</span>
        <svg
            class="my-icon"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
        >
            <path d="M5 12h14"></path>
            <path d="M12 5l7 7-7 7"></path>
        </svg>
    </a>
    {% else %}
    <a class="disabled" aria-disabled="true">
        <span>Next Page</span>
        <svg
            class="my-icon"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
        >
            <path d="M5 12h14"></path>
            <path d="M12 5l7 7-7 7"></path>
        </svg>
    </a>
    {% endif %}
</nav>
{% endif %}
