[
(
    phrase: "Goodbye.",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "Thank you for speaking with us.",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "It was nice meeting you.",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "We'll be back soon.",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
)
]