[
(
    phrase: "Can you talk through the box?",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "Are you here with us?",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "Can you give us a sign on the Spirit Box?",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "We're listening to the Spirit Box. Can you speak?",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "Can you tell us your name on the Spirit Box?",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "Can you answer our questions on the Spirit Box?",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
)
]