[
(
    phrase: "Why are you here?",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "What keeps you in this place?",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "What do you want?",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "Are you trying to tell us something?",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "Do you need help?",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "What is your unfinished business?",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "Are you angry?",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "Are you seeking revenge?",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "Are you trying to protect something?",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "What are your intentions?",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
)
]