[
(
    phrase: "Do you miss anyone?",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "Did you have a family?",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "Do you have any children?",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "Is there someone you want to contact?",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "Can you give us a message for your loved ones?",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "Are your loved ones safe?",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "Are you trying to protect your loved ones?",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "Do you want us to tell your loved ones something?",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
)
]