[
(
    phrase: "We offer you these [offerings] as a sign of respect.",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "We hope these [offerings] bring you peace.",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "Please accept these [offerings] as a token of our good intentions.",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "We share these [offerings] with you in the spirit of harmony.",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "May these [offerings] guide you to the light.",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "May these [offerings] bring you comfort.",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "May these [offerings] ease your suffering.",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "We give you these [offerings] in hopes of understanding.",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "We give you these [offerings] in hopes of communication.",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
),
(
    phrase: "We give you these [offerings] in hopes of peace.",
    speech_act: "Assertive",
    semantic_tags: [],
    emotional_signature: (curiosity: 0.0, fear: 0.0, anger: 0.0, sadness: 0.0, joy: 0.0),
)
]