{% extends "index.html" %}
{% block main %}
<h1 class="page-title">{{ taxonomy.name | title }}</h1>

<div class="taxonomy-grid">
  {% for term in terms %}
  <div class="taxonomy-term-card">
    <h3>
      <a href="{{ term.permalink | safe }}">#{{ term.name }}</a>
      <sup>{{ term.page_count }}</sup>
    </h3>

    {% for page in term.pages | slice(end=5) %}
    <a class="term-page-link" href="{{ page.permalink | safe }}">{{ page.title }}</a>
    {% endfor %}

    {% if term.pages | length > 5 %}
    <span class="more-link-wrapper">
      <a href="{{ term.permalink | safe }}">More >></a>
    </span>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock main %}
