{% if page.lower or page.higher %}
<nav class="pagination">
    {% if page.higher %}
    <a class="active" href="{{ page.higher.permalink }}">
        <svg
            class="my-icon"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
        >
            <path d="M19 12H5"></path>
            <path d="M12 19l-7-7 7-7"></path>
        </svg>
        <span>{{ page.higher.title }}</span></a
    >
    {% endif %}<!---->
    {% if page.lower %}
    <a class="active" href="{{ page.lower.permalink }}">
        <span>{{ page.lower.title }}</span>
        <svg
            class="my-icon"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
        >
            <path d="M5 12h14"></path>
            <path d="M12 5l7 7-7 7"></path>
        </svg>
    </a>
    {% endif %}
</nav>
{% endif %}
