{% if config.extra.profile.avatar_url or config.extra.profile.name %}

<div class="profile-container">
    <div class="container-bento">
        <div class="title-bio">
            <h1>{{ config.title }}</h1>

            {{ config.extra.profile.bio | default(value=`A blog by ` ~ config.extra.profile.name) }}
        </div>

        <div class="container-buttons">
            <div>
                <a href="">
                    Download binary
                    <span></span>
                </a>
            </div>
            <div>
                <a href="">
                    Play in browser
                    <span></span>
                </a>
            </div>
        </div>
        {% for index in [1,2,3,4,5] %}
        <div class="photo-{{index}}">
            <img src="profile/unhaunter-c{{index}}.png" alt="" />
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
