{% if config.extra.profile.avatar_url or config.extra.profile.name %}

<!-- <div class="profile-container"> -->
<section class="sec__1">
    <div class="title-bio">
        <h1>{{ config.title }}</h1>
        <h2>{{config.extra.profile.des}}</h2>
    </div>
    <div class="container-description">
        {{ config.extra.profile.bio | default(value=`A blog by ` ~ config.extra.profile.name) }}
    </div>
    <div class="container-buttons">
        <div>
            <a href="https://github.com/deavid/unhaunter/releases/latest">
                Download binary
                <span></span>
            </a>
        </div>
        <div>
            <a href="{{ get_url(path='wasm/main/') }}" target="_blank">
                Play in browser
                <span></span>
            </a>
        </div>
    </div>
</section>

<section>
    <div class="container-bento">
        {% for bento in config.extra.profile.bento %}
        <div class="photo-{{bento.index}}">
            <img src="{{bento.img}}" alt="" />
            {% if bento.name is defined %}
            <div class="absolute-overlay">
                <div class="info">
                    <h3>{{bento.name}}</h3>
                    {% if bento.des is defined %}
                    <p>{{bento.des}}</p>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>
<!-- </div> -->
{% endif %}
